spring:
  application:
    name: oauth-demo

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: c8a690a6972aead9b81f95792b50981f
            client-secret: FHMnpdlGC183yoNVXUyFUbtB45IcLfb4
            redirect-uri: "http://localhost:8080/oauth/kakao/callback"
            authorization-grant-type: authorization_code
            client-name: Kakao
            scope:
              - profile_nickname
              - account_email
            client-authentication-method: client_secret_post

          google:
            client-id: 250246333661-j0mukqpbin13igd1bgshtoberrgl9osv.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

jwt:
  access:
    header: Authorization
    expiration: 3600000 # 1시간
  refresh:
    header: X-Refresh-Token
    expiration: 5259400000 # 2달
  secretKey: vTfT4bFjiaZWnjeikZXutfgX+LmLRB4iP5AN+FUWpTeqGDXgQbXDhYd9j5BA3DcDuyfGp+leNDtiJl2ilmxRjA==

logging:
  level:
    com.example.oauth: DEBUG
    org.springframework.security: TRACE
